<h1><%= @machine.location %> Vending Machine</h1>

<p>Average Price of Machine: <%= @machine.average_price %></p>
<h2>Snacks:</h2>
<% @snacks.each do |snack| %>
  <div id="snack-<%= snack.id %>">
    <p><%= snack.name %></p>
    <p>Price: <%= snack.price %>/p>
    <h5>Other locations:</h5>
    <ul>
      <% snack.machines.each do |machine| %>
        <li>
          <%= machine.location %> Average Price: <%= machine.average_price %>
          <p>Number of Unique Snacks: <%= machine.unique_snacks %></p>
        </li>

      <% end %>
    </ul>
  </div>
<% end %>
